<div class="container ">
    <div class="display-1" align="center">Mi Familia</div>
    <br><br><div class="grid">
        <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Cristian Camargo </mat-card-title>
                <mat-card-subtitle>Papa</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/cris.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Emilce Mercado </mat-card-title>
                <mat-card-subtitle>Mama</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/emilce.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Kamila Camargo</mat-card-title>
                <mat-card-subtitle>Hija</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/kami.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    </div>

    <mat-card class="">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Familia Camargo Mercado </mat-card-title>
            <mat-card-subtitle>Familia</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/familia.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>